<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <!-- shoelace -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
        />
        <script
            type="module"
            src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"
        ></script>

        <!-- shoelace Light & Dark Theme -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css"
        />

        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/index.css" />

        <!-- component css -->
        <link rel="stylesheet" href="/css/component.css" />

        <style>
            sl-details.sl-detail-20rem {
                width: 20rem;
            }
            sl-details.sl-detail-20rem::part(header),
            sl-details.sl-detail-20rem::part(content) {
                padding: 2rem;
            }
        </style>

        <!-- CodeViewer -->
        <!-- Prism CSS (예쁘게 보이게 하기 위해) -->
        <link
            href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.css"
            rel="stylesheet"
        />

        <!-- Prism.js -->
        <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-markup.min.js"></script>
    </head>
    <body class="outer">
        <div class="inner">
            <!-- 헤더 -->
            <div class="header">
                <a class="logoButton" href="/index.html">
                    <img src="/assets/logo.svg" alt="" />
                </a>
                <div class="navWrap">
                    <ul class="navTitle">
                        <li class="navLi">
                            <h4>버튼</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/button/button.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Default Button
                                    </sl-button>

                                    <sl-button
                                        href="/components/button/buttonGroup.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Group Button
                                    </sl-button>

                                    <sl-button
                                        href="/components/button/switch.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Switch
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>
                        <li class="navLi">
                            <h4>셀렉트 & 인풋</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/select/select.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Select
                                    </sl-button>

                                    <sl-button
                                        href="/components/select/input.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Input
                                    </sl-button>

                                    <sl-button
                                        href="/components/select/textarea.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Textarea
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>

                        <li class="navLi">
                            <h4>체크박스 & 라디오</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/checkbox/checkbox.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        CheckBox
                                    </sl-button>

                                    <sl-button
                                        href="/components/checkbox/radio.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Radio
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>

                        <li class="navLi">
                            <h4>모달 ~ 아코디언</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/modal/modal.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        모달
                                    </sl-button>
                                    <sl-button
                                        href="/components/modal/drawer.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Drawer
                                    </sl-button>
                                    <sl-button
                                        href="/components/modal/alert.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Alert
                                    </sl-button>
                                    <sl-button
                                        href="/components/modal/tooltip.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Tooltip
                                    </sl-button>

                                    <sl-button
                                        href="/components/modal/details.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        아코디언
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>

                        <li class="navLi">
                            <h4>Menu & Tab</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/menu/menu.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Menu
                                    </sl-button>
                                    <sl-button
                                        href="/components/menu/tab.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Tab
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>

                        <li class="navLi">
                            <h4>UI - UX</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/uiux/uxInput.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        UX-Input
                                    </sl-button>
                                    <sl-button
                                        href="/components/uiux/breadcrumb.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Breadcrumb
                                    </sl-button>
                                    <sl-button
                                        href="/components/uiux/badge.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Badge & Tag
                                    </sl-button>
                                    <sl-button
                                        href="/components/uiux/dropdown.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Dropdown
                                    </sl-button>
                                    <sl-button
                                        href="/components/uiux/icon.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Icon
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>
                        <li class="navLi">
                            <h4>애니메이션</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/animation/animation.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Animation
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mode">
                    <sl-icon-button
                        name="github"
                        href="https://github.com/shoelace-style/shoelace"
                        target="_blank"
                        class="linkIconButton"
                    ></sl-icon-button>

                    <sl-icon-button
                        name="book"
                        href="https://shoelace.style/"
                        target="_blank"
                        class="linkIconButton"
                    ></sl-icon-button>

                    <sl-switch id="darkModeSwitch">Dark Mode</sl-switch>
                </div>
            </div>

            <div class="section">
                <h3 class="componentTitle">아코디언 - Details</h3>
                <div class="componentWrap">
                    <div>
                        <div class="viewPart">
                            <h5>기본 Details</h5>

                            <sl-details
                                summary="summary 라는 속성으로 처음 노출되는 텍스트를 보여줍니다."
                            >
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </sl-details>
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
    &lt;sl-details summary=&quot;summary 라는 속성으로 처음 노출되는 텍스트를 보여줍니다.&quot;&gt;
        ...
    &lt;/sl-details&gt;      
                        </code></pre>
                        </div>
                    </div>

                    <div>
                        <div class="viewPart">
                            <h5>Custom Size Details</h5>

                            <sl-details
                                summary="Size 와 Padding 넣어주기 - CSS 이용"
                                class="sl-detail-20rem"
                            >
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </sl-details>
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
    &lt;style&gt;
        sl-details.sl-detail-20rem{
            width: 20rem;
        }
        sl-details.sl-detail-20rem::part(header),
        sl-details.sl-detail-20rem::part(content){
            padding: 2rem;
        }
    &lt;/style&gt;
    
    &lt;sl-details summary=&quot;Size 와 Padding 넣어주기 - CSS 이용&quot; 
    class=&quot;sl-detail-20rem&quot;
    &gt;
        ...
    &lt;/sl-details&gt; 
                        </code></pre>
                        </div>
                    </div>

                    <div>
                        <div class="viewPart">
                            <h5>Disabled Details</h5>

                            <sl-details
                                summary="비활성화 sl-details는 disabled속성을 추가해준다"
                                disabled
                            >
                                Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Unde, quos.
                            </sl-details>
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
    &lt;sl-details summary=&quot;비활성화 sl-details는 disabled속성을 추가해준다&quot; disabled&gt;
        ...
    &lt;/sl-details&gt;
                        </code></pre>
                        </div>
                    </div>

                    <div>
                        <div class="viewPart">
                            <h5>Details 아이콘 Customizing</h5>

                            <sl-details
                                class="custom-icon-details"
                                summary="우측 아이콘을 바꿔주었습니다. + CSS"
                            >
                                <sl-icon
                                    name="plus-square"
                                    slot="expand-icon"
                                ></sl-icon>
                                <sl-icon
                                    name="dash-square"
                                    slot="collapse-icon"
                                ></sl-icon>

                                icon에 사용된 slot을 확인!
                            </sl-details>
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
    &lt;style&gt;
        .custom-icon-details::part(summary-icon) {
            rotate: none;
        }
    &lt;/style&gt;
    
    &lt;sl-details class=&quot;custom-icon-details&quot; summary=&quot;우측 아이콘을 바꿔주었습니다. + CSS&quot;&gt;
        &lt;sl-icon name=&quot;plus-square&quot; slot=&quot;expand-icon&quot;&gt;&lt;/sl-icon&gt;
        &lt;sl-icon name=&quot;dash-square&quot; slot=&quot;collapse-icon&quot;&gt;&lt;/sl-icon&gt;

        icon에 사용된 slot을 확인!
    &lt;/sl-details&gt;
                        </code></pre>
                        </div>
                    </div>

                    <div>
                        <div class="viewPart">
                            <h5>
                                그룹 Details - 하나만 열려있게 하기위해선 JS
                                필요
                            </h5>

                            <div id="container">
                                <!-- 임의의 container필요 -->
                                <sl-details summary="First" open>
                                    <!-- 초기값 open -->
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat.
                                </sl-details>

                                <sl-details summary="Second">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat.
                                </sl-details>

                                <sl-details summary="Third">
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip
                                    ex ea commodo consequat.
                                </sl-details>
                            </div>

                            <script>
                                const container =
                                    document.getElementById('container');

                                container.addEventListener('sl-show', (e) => {
                                    if (e.target.localName === 'sl-details') {
                                        [
                                            ...container.querySelectorAll(
                                                'sl-details',
                                            ),
                                        ].map(
                                            (item) =>
                                                (item.open = e.target === item),
                                        );
                                    }
                                });
                            </script>
                        </div>
                        <div class="codePart">
                            <sl-details summary="Code View">
                                <pre><code class="language-markup">
    &lt;div id=&quot;container&quot;&gt; &lt;!-- 임의의 container필요 --&gt;
        &lt;sl-details summary=&quot;First&quot; open&gt;   &lt;!-- 초기값 open --&gt;
            ...
        &lt;/sl-details&gt;

        &lt;sl-details summary=&quot;Second&quot;&gt;
            ...
        &lt;/sl-details&gt;

        &lt;sl-details summary=&quot;Third&quot;&gt;
            ...
        &lt;/sl-details&gt;
    &lt;/div&gt;

    &lt;script&gt;
        const container = document.getElementById(&quot;container&quot;);

        container.addEventListener(&quot;sl-show&quot;, (e) =&gt; {
            if(e.target.localName === 'sl-details'){
                [...container.querySelectorAll('sl-details')].map(item =&gt; item.open = e.target === item)
            }
        })
    &lt;/script&gt;
                            </code></pre>
                            </sl-details>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/darkmode.js"></script>
    </body>
</html>
