<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KJS shoelace 컴포넌트</title>

        <!-- shoelace -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
        />
        <script
            type="module"
            src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"
        ></script>

        <!-- shoelace Light & Dark Theme -->
        <link
            rel="stylesheet"
            media="(prefers-color-scheme:light)"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
        />
        <link
            rel="stylesheet"
            media="(prefers-color-scheme:dark)"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css"
        />

        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/component.css">
    </head>
    <body class="outer">
        <div class="inner">
            <div class="section">
                <h3 class="componentTitle">Menu</h3>
                <div class="componentWrap">
                    <div>
                        <h5>기초적인 Menu - 길이는 부모Div의 width를 따라갑니다.</h5>
                        <p>width : 300px</p>

                        <div style="width: 300px;">
                            <sl-menu>
                                <sl-menu-item value="undo">Undo</sl-menu-item>
                                <sl-menu-item value="redo">Redo</sl-menu-item>
                                <sl-divider></sl-divider>
                                <sl-menu-item value="cut">Cut</sl-menu-item>
                                <sl-menu-item value="copy">Copy</sl-menu-item>
                                <sl-menu-item value="paste">Paste</sl-menu-item>
                                <sl-menu-item value="delete">Delete</sl-menu-item>
                            </sl-menu>
                        </div>
                    </div>

                    <div>
                        <h5>Sub Menu를 포함하는 Menu</h5>

                        <sl-menu style="max-width: 200px;">
                            <sl-menu-item value="undo">Undo</sl-menu-item>
                            <sl-menu-item value="redo">Redo</sl-menu-item>
                            <sl-divider></sl-divider>
                            <sl-menu-item value="cut">Cut</sl-menu-item>
                            <sl-menu-item value="copy">Copy</sl-menu-item>
                            <sl-menu-item value="paste">Paste</sl-menu-item>
                            <sl-divider></sl-divider>
                            <sl-menu-item>
                              Find
                              <sl-menu slot="submenu">
                                <sl-menu-item value="find">Find…</sl-menu-item>
                                <sl-menu-item value="find-previous">Find Next</sl-menu-item>
                                <sl-menu-item value="find-next">Find Previous</sl-menu-item>
                              </sl-menu>
                            </sl-menu-item>
                            <sl-menu-item>
                              Transformations
                              <sl-menu slot="submenu">
                                <sl-menu-item value="uppercase">Make uppercase</sl-menu-item>
                                <sl-menu-item value="lowercase">Make lowercase</sl-menu-item>
                                <sl-menu-item value="capitalize">Capitalize</sl-menu-item>
                              </sl-menu>
                            </sl-menu-item>
                        </sl-menu>
                    </div>

                    <div>
                        <h5>Prefix & Suffix</h5>

                        <sl-menu style="max-width: 200px;">
                            <sl-menu-item>
                              <sl-icon slot="prefix" name="house" style="margin-right: 0.5rem;"></sl-icon>
                              Home
                            </sl-menu-item>
                          
                            <sl-menu-item>
                              <sl-icon slot="prefix" name="envelope" style="margin-right: 0.5rem;"></sl-icon>
                              Messages
                              <sl-badge slot="suffix" variant="primary" pill>12</sl-badge>
                            </sl-menu-item>
                          
                            <sl-divider></sl-divider>
                          
                            <sl-menu-item>
                              <sl-icon slot="prefix" name="gear" style="margin-right: 0.5rem;"></sl-icon>
                              Settings
                            </sl-menu-item>
                        </sl-menu>
                    </div>

                    <div>
                        <h5>Disabled - disabled 속성 사용</h5>

                        <sl-menu style="max-width: 200px;">
                            <sl-menu-item>Option 1</sl-menu-item>
                            <sl-menu-item disabled>Option 2</sl-menu-item>
                            <sl-menu-item>Option 3</sl-menu-item>
                        </sl-menu>
                    </div>

                    <div>
                        <h5>Loading - loading 속성 사용</h5>
                        
                        <sl-menu style="max-width: 200px;">
                            <sl-menu-item>Option 1</sl-menu-item>
                            <sl-menu-item loading>Option 2</sl-menu-item>
                            <sl-menu-item>Option 3</sl-menu-item>
                        </sl-menu>
                    </div>

                    <div>
                        <h5>CheckBox Menu - type="checkbox" 사용</h5>

                        <sl-menu style="max-width: 200px;">
                            <sl-menu-item type="checkbox">Autosave</sl-menu-item>
                            <sl-menu-item type="checkbox" checked>Check Spelling</sl-menu-item>
                            <sl-menu-item type="checkbox">Word Wrap</sl-menu-item>
                        </sl-menu>
                    </div>

                    <div>
                        <h5>Label을 가지는 Menu - sl-menu-label</h5>

                        <sl-menu style="max-width: 200px;">
                            <sl-menu-label>Fruits</sl-menu-label>
                            <sl-menu-item value="apple">Apple</sl-menu-item>
                            <sl-menu-item value="banana">Banana</sl-menu-item>
                            <sl-menu-item value="orange">Orange</sl-menu-item>
                            <sl-divider></sl-divider>
                            <sl-menu-label>Vegetables</sl-menu-label>
                            <sl-menu-item value="broccoli">Broccoli</sl-menu-item>
                            <sl-menu-item value="carrot">Carrot</sl-menu-item>
                            <sl-menu-item value="zucchini">Zucchini</sl-menu-item>
                        </sl-menu>
                    </div>

                    <div>
                        <h5>Value 를 가지는 Menu - value 속성 사용</h5>
                        <div style="display: flex; gap: 0.5rem; margin: 0.5rem;">
                            <span>선택 값 :</span>
                            <span id="value"></span>
                        </div>

                        <sl-menu class="menu-value" style="max-width: 200px;">
                            <sl-menu-label>option</sl-menu-label>
                            <sl-menu-item value="opt-1">Option 1</sl-menu-item>
                            <sl-menu-item value="opt-2">Option 2</sl-menu-item>
                            <sl-menu-item value="opt-3">Option 3</sl-menu-item>
                            <sl-divider></sl-divider>
                            <sl-menu-label>checkbox</sl-menu-label>
                            <sl-menu-item type="checkbox" value="opt-4">Checkbox 4</sl-menu-item>
                            <sl-menu-item type="checkbox" value="opt-5">Checkbox 5</sl-menu-item>
                            <sl-menu-item type="checkbox" value="opt-6">Checkbox 6</sl-menu-item>
                        </sl-menu>
                          
                        <script>
                            const menu = document.querySelector('.menu-value');
                            const menuValue = document.getElementById('value')
                          
                            menu.addEventListener('sl-select', event => {
                              const item = event.detail.item;
                          
                              // Log value
                              if (item.type === 'checkbox') {
                                menuValue.innerText = (`Selected value: ${item.value} (${item.checked ? 'checked' : 'unchecked'})`);
                              } else {
                                menuValue.innerText = (`Selected value: ${item.value}`);
                              }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="/js/darkmode.js"></script>
    </body>
</html>