/**
    Shoelace 컴포넌트의 커스텀 CSS를 위한 css
*/
.redRadioGroup sl-radio::part(control--checked) {
    background-color: red;
    border-color: red;
}

.red-select sl-option::part(base):hover {
    /* hover된 option */
    background-color: var(--sl-color-red-200);
}
.red-select sl-option[tabindex='0']::part(base),
.red-select sl-option[tabindex='0']::part(base):hover {
    /* 선택된 option */
    background-color: var(--sl-color-red-500);
}

.red-color-radio ::part(control--checked) {
    /* 선택된 Radio */
    background-color: var(--sl-color-red-500);
    border-color: var(--sl-color-red-500);
}

.red-color-radio sl-radio-button:hover::part(button) {
    /* hover된 Radio Button */
    background-color: var(--sl-color-red-500);
    border-color: var(--sl-color-red-500);
}
.red-color-radio ::part(button--checked),
.red-color-radio sl-radio-button:hover::part(button--checked) {
    /* 선택된 Radio Button */
    background-color: var(--sl-color-red-500);
    border-color: var(--sl-color-red-500);
}
