<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>버튼그룹</title>
        <!-- shoelace -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
        />
        <script
            type="module"
            src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"
        ></script>

        <!-- shoelace Light & Dark Theme -->
        <link
            rel="stylesheet"
            media="(prefers-color-scheme:light)"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
        />
        <link
            rel="stylesheet"
            media="(prefers-color-scheme:dark)"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css"
        />

        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/component.css">


        <!-- CodeViewer -->
        <!-- Prism CSS (예쁘게 보이게 하기 위해) -->
        <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.css" rel="stylesheet" />

        <!-- Prism.js -->
        <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-markup.min.js"></script>
        
    </head>
    <body class="outer">
        <div class="inner">
          <!-- 헤더 -->
          <div class="header">
            <a class="logoButton" href="/index.html">
                <img src="/assets/logo.svg" alt="" />
            </a>
            <div class="navWrap">
                <ul class="navTitle">
                    <li class="navLi">
                        <h4>버튼</h4>
                        <div class="navMenu">
                            <sl-menu style="display: flex;flex-direction: column;">
                                   <sl-button 
                                   href="/components/button/button.html"
                                   size="large"
                                   class="navButton"
                                   >
                                    Default Button
                                   </sl-button>
                                
                                   <sl-button 
                                   href="/components/button/buttonGroup.html"
                                   size="large"
                                   class="navButton"
                                   >
                                    Group Button
                                   </sl-button>

                                   <sl-button 
                                   href="/components/button/switch.html"
                                   size="large"
                                   class="navButton"
                                   >
                                    Switch
                                   </sl-button>

                            </sl-menu>
                        </div>
                    </li>
                    <li class="navLi">
                        <h4>셀렉트 & 인풋</h4>
                        <div class="navMenu">
                            <sl-menu style="display: flex;flex-direction: column;">
                                <sl-button 
                                href="/components/select/select.html"
                                size="large"
                                class="navButton"
                                >
                                 Select
                                </sl-button>

                                <sl-button 
                                href="/components/select/input.html"
                                size="large"
                                class="navButton"
                                >
                                 Input
                                </sl-button>

                                <sl-button 
                                href="/components/select/textarea.html"
                                size="large"
                                class="navButton"
                                >
                                 Textarea
                                </sl-button>
                         </sl-menu>
                        </div>
                    </li>

                    <li class="navLi">
                        <h4>체크박스 & 라디오</h4>
                        <div class="navMenu">
                            <sl-menu style="display: flex;flex-direction: column;">
                                <sl-button 
                                href="/components/checkbox/checkbox.html"
                                size="large"
                                class="navButton"
                                >
                                 CheckBox
                                </sl-button>

                                <sl-button 
                                href="/components/checkbox/radio.html"
                                size="large"
                                class="navButton"
                                >
                                 Radio
                                </sl-button>
                         </sl-menu>
                        </div>
                    </li>

                    <li class="navLi">
                        <h4>모달 ~ 아코디언</h4>
                        <div class="navMenu">
                            <sl-menu style="display: flex;flex-direction: column;">
                                <sl-button 
                                href="/components/modal/modal.html"
                                size="large"
                                class="navButton"
                                >
                                    모달
                                </sl-button>
                                <sl-button
                                href="/components/modal/drawer.html"
                                size="large"
                                class="navButton"
                                >
                                    Drawer
                                </sl-button>
                                <sl-button
                                href="/components/modal/alert.html"
                                size="large"
                                class="navButton"
                                >
                                    Alert
                                </sl-button>
                                <sl-button
                                href="/components/modal/tooltip.html"
                                size="large"
                                class="navButton"
                                >
                                    Tooltip
                                </sl-button>

                                <sl-button
                                href="/components/modal/details.html"
                                size="large"
                                class="navButton"
                                >
                                    아코디언
                                </sl-button>
                            </sl-menu>
                        </div>
                    </li>

                    <li class="navLi">
                        <h4>Menu & Tab</h4>
                        <div class="navMenu">
                            <sl-menu style="display: flex;flex-direction: column;">
                                <sl-button
                                href="/components/menu/menu.html"
                                size="large"
                                class="navButton"
                                >
                                 Menu
                                </sl-button>
                                <sl-button
                                href="/components/menu/tab.html"
                                size="large"
                                class="navButton"
                                >
                                 Tab
                                </sl-button>
                            </sl-menu>
                        </div>
                    </li>

                    <li class="navLi">
                        <h4>UI - UX</h4>
                        <div class="navMenu">
                            <sl-menu style="display: flex;flex-direction: column;">

                                <sl-button
                                href="/components/uiux/uxInput.html"
                                size="large"
                                class="navButton"
                                >
                                 UX-Input
                                </sl-button>
                                <sl-button
                                href="/components/uiux/breadcrumb.html"
                                size="large"
                                class="navButton"
                                >
                                 Breadcrumb
                                </sl-button>
                                <sl-button
                                href="/components/uiux/badge.html"
                                size="large"
                                class="navButton"
                                >
                                 Badge & Tag
                                </sl-button>
                                <sl-button
                                href="/components/uiux/dropdown.html"
                                size="large"
                                class="navButton"
                                >
                                 Dropdown
                                </sl-button>
                                <sl-button
                                href="/components/uiux/icon.html"
                                size="large"
                                class="navButton"
                                >
                                 Icon
                                </sl-button>

                            </sl-menu>
                        </div>
                    </li>
                    <li class="navLi">
                        <h4>애니메이션</h4>
                        <div class="navMenu">
                            <sl-menu style="display: flex;flex-direction: column;">

                                <sl-button
                                href="/components/animation/animation.html"
                                size="large"
                                class="navButton"
                                >
                                 Animation
                                </sl-button>
                            </sl-menu>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="mode">
                <sl-icon-button 
                name="github" 
                href="https://github.com/shoelace-style/shoelace" 
                target="_blank"
                class="linkIconButton"
                ></sl-icon-button>

                <sl-icon-button 
                name="book" 
                href="https://shoelace.style/" 
                target="_blank"
                class="linkIconButton"
                ></sl-icon-button>
                
                <sl-switch id="darkModeSwitch">Dark Mode</sl-switch>
            </div>
        </div>
          
            <div class="section">
                <h3 class="componentTitle">그룹버튼</h3>
                <div class="componentWrap">
                    <div class="">
                        <div class="viewPart">
                          <h5>기초적인 그룹버튼</h5>
                          <sl-button-group label="Alignment">
                              <sl-button>Left</sl-button>
                              <sl-button>Center</sl-button>
                              <sl-button>Right</sl-button>
                          </sl-button-group>
                        </div>
                        <div class="codePart">
                          <pre><code class="language-markup">
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
      &lt;sl-button&gt;Left&lt;/sl-button&gt;
      &lt;sl-button&gt;Center&lt;/sl-button&gt;
      &lt;sl-button&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
                          </code></pre>
                        </div>
                    </div>
                    <div class="">
                        <div class="viewPart">
                          <h5>그룹버튼 사이즈</h5>
                          <sl-button-group label="Alignment">
                              <sl-button size="small">Left</sl-button>
                              <sl-button size="small">Center</sl-button>
                              <sl-button size="small">Right</sl-button>
                            </sl-button-group>
                            
                            <br /><br />
                            
                            <sl-button-group label="Alignment">
                              <sl-button size="medium">Left</sl-button>
                              <sl-button size="medium">Center</sl-button>
                              <sl-button size="medium">Right</sl-button>
                            </sl-button-group>
                            
                            <br /><br />
                            
                            <sl-button-group label="Alignment">
                              <sl-button size="large">Left</sl-button>
                              <sl-button size="large">Center</sl-button>
                              <sl-button size="large">Right</sl-button>
                            </sl-button-group>
                        </div>
                        <div class="codePart">
                          <sl-details summary="codeView">
                            <pre><code class="language-markup">
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button size=&quot;small&quot;&gt;Left&lt;/sl-button&gt;
    &lt;sl-button size=&quot;small&quot;&gt;Center&lt;/sl-button&gt;
    &lt;sl-button size=&quot;small&quot;&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
  
  
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button size=&quot;medium&quot;&gt;Left&lt;/sl-button&gt;
    &lt;sl-button size=&quot;medium&quot;&gt;Center&lt;/sl-button&gt;
    &lt;sl-button size=&quot;medium&quot;&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
  
  
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button size=&quot;large&quot;&gt;Left&lt;/sl-button&gt;
    &lt;sl-button size=&quot;large&quot;&gt;Center&lt;/sl-button&gt;
    &lt;sl-button size=&quot;large&quot;&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
                            </code></pre>
                          </sl-details>
                        </div>
                          
                    </div>
                    <div class="">
                        <div class="viewPart">
                          <h5>컬러 그룹버튼</h5>
                          <sl-button-group label="Alignment">
                              <sl-button variant="primary">Left</sl-button>
                              <sl-button variant="primary">Center</sl-button>
                              <sl-button variant="primary">Right</sl-button>
                            </sl-button-group>
                            
                            <br /><br />
                            
                            <sl-button-group label="Alignment">
                              <sl-button variant="success">Left</sl-button>
                              <sl-button variant="success">Center</sl-button>
                              <sl-button variant="success">Right</sl-button>
                            </sl-button-group>
                            
                            <br /><br />
                            
                            <sl-button-group label="Alignment">
                              <sl-button variant="neutral">Left</sl-button>
                              <sl-button variant="neutral">Center</sl-button>
                              <sl-button variant="neutral">Right</sl-button>
                            </sl-button-group>
                            
                            <br /><br />
                            
                            <sl-button-group label="Alignment">
                              <sl-button variant="warning">Left</sl-button>
                              <sl-button variant="warning">Center</sl-button>
                              <sl-button variant="warning">Right</sl-button>
                            </sl-button-group>
                            
                            <br /><br />
                            
                            <sl-button-group label="Alignment">
                              <sl-button variant="danger">Left</sl-button>
                              <sl-button variant="danger">Center</sl-button>
                              <sl-button variant="danger">Right</sl-button>
                            </sl-button-group>
                            
                        </div>
                        <div class="codePart">
                          <sl-details summary="codeView">
                            <pre><code class="language-markup">
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button variant=&quot;primary&quot;&gt;Left&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;primary&quot;&gt;Center&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;primary&quot;&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
  
  
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button variant=&quot;success&quot;&gt;Left&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;success&quot;&gt;Center&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;success&quot;&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
  
  
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button variant=&quot;neutral&quot;&gt;Left&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;neutral&quot;&gt;Center&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;neutral&quot;&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
  
  
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button variant=&quot;warning&quot;&gt;Left&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;warning&quot;&gt;Center&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;warning&quot;&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
  
  
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button variant=&quot;danger&quot;&gt;Left&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;danger&quot;&gt;Center&lt;/sl-button&gt;
    &lt;sl-button variant=&quot;danger&quot;&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
                            </code></pre>
                          </sl-details>
                        </div>
                        
                    </div>
                    <div class="">
                      <div class="viewPart">
                        <h5>radius 그룹버튼</h5>
                        <sl-button-group label="Alignment">
                            <sl-button size="small" pill>Left</sl-button>
                            <sl-button size="small" pill>Center</sl-button>
                            <sl-button size="small" pill>Right</sl-button>
                          </sl-button-group>
                          
                          <br /><br />
                          
                          <sl-button-group label="Alignment">
                            <sl-button size="medium" pill>Left</sl-button>
                            <sl-button size="medium" pill>Center</sl-button>
                            <sl-button size="medium" pill>Right</sl-button>
                          </sl-button-group>
                          
                          <br /><br />
                          
                          <sl-button-group label="Alignment">
                            <sl-button size="large" pill>Left</sl-button>
                            <sl-button size="large" pill>Center</sl-button>
                            <sl-button size="large" pill>Right</sl-button>
                          </sl-button-group>
                      </div>
                      <div class="codePart">
                        <sl-details summary="codeView">
                        <pre><code class="language-markup">
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button size=&quot;small&quot; pill&gt;Left&lt;/sl-button&gt;
    &lt;sl-button size=&quot;small&quot; pill&gt;Center&lt;/sl-button&gt;
    &lt;sl-button size=&quot;small&quot; pill&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;


  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button size=&quot;medium&quot; pill&gt;Left&lt;/sl-button&gt;
    &lt;sl-button size=&quot;medium&quot; pill&gt;Center&lt;/sl-button&gt;
    &lt;sl-button size=&quot;medium&quot; pill&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;


  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-button size=&quot;large&quot; pill&gt;Left&lt;/sl-button&gt;
    &lt;sl-button size=&quot;large&quot; pill&gt;Center&lt;/sl-button&gt;
    &lt;sl-button size=&quot;large&quot; pill&gt;Right&lt;/sl-button&gt;
  &lt;/sl-button-group&gt;
                        </code></pre></sl-details>
                      </div>
                        
                    </div>
                    <div class="">
                      <div class="viewPart">
                        <h5>드롭다운 그룹버튼</h5>
                        <sl-button-group label="Example Button Group">
                            <sl-button>Button</sl-button>
                            <sl-button>Button</sl-button>
                            <sl-dropdown>
                              <sl-button slot="trigger" caret>Dropdown</sl-button>
                              <sl-menu>
                                <sl-menu-item>Item 1</sl-menu-item>
                                <sl-menu-item>Item 2</sl-menu-item>
                                <sl-menu-item>Item 3</sl-menu-item>
                              </sl-menu>
                            </sl-dropdown>
                          </sl-button-group>
                      </div>
                      <div class="codePart">
                        <sl-details summary="codeView">
                          <pre><code class="language-markup">
  &lt;sl-button-group label=&quot;Example Button Group&quot;&gt;
    &lt;sl-button&gt;Button&lt;/sl-button&gt;
    &lt;sl-button&gt;Button&lt;/sl-button&gt;
    &lt;sl-dropdown&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;Dropdown&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Item 1&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Item 2&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Item 3&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
    &lt;/sl-dropdown&gt;
  &lt;/sl-button-group&gt;
                          </code></pre>
                        </sl-details>
                      </div>                        
                          
                    </div>
                    <div class="">
                      <div class="viewPart">
                        <h5>스플릿 드롭다운 그룹버튼</h5>
                        <sl-button-group label="Example Button Group">
                            <sl-button variant="primary">Save</sl-button>
                            <sl-dropdown placement="bottom-end">
                              <sl-button slot="trigger" variant="primary" caret>
                                <sl-visually-hidden>More options</sl-visually-hidden>
                              </sl-button>
                              <sl-menu>
                                <sl-menu-item>Save</sl-menu-item>
                                <sl-menu-item>Save as&hellip;</sl-menu-item>
                                <sl-menu-item>Save all</sl-menu-item>
                              </sl-menu>
                            </sl-dropdown>
                          </sl-button-group>
                      </div>
                      <div class="codePart">
                        <sl-details summary="codeView">
                          <pre><code class="language-markup">
  &lt;sl-button-group label=&quot;Example Button Group&quot;&gt;
    &lt;sl-button variant=&quot;primary&quot;&gt;Save&lt;/sl-button&gt;
    &lt;sl-dropdown placement=&quot;bottom-end&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; variant=&quot;primary&quot; caret&gt;
        &lt;sl-visually-hidden&gt;More options&lt;/sl-visually-hidden&gt;
      &lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Save&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Save as&amp;hellip;&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Save all&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
    &lt;/sl-dropdown&gt;
  &lt;/sl-button-group&gt;
                          </code></pre>
                        </sl-details>
                      </div>
                    </div>
                    <div class="">
                      <div class="viewPart">
                        <h5>Hover시 툴팁이 보이는 그룹버튼</h5>
                        <sl-button-group label="Alignment">
                            <sl-tooltip content="I'm on the left">
                              <sl-button>Left</sl-button>
                            </sl-tooltip>
                          
                            <sl-tooltip content="I'm in the middle">
                              <sl-button>Center</sl-button>
                            </sl-tooltip>
                          
                            <sl-tooltip content="I'm on the right">
                              <sl-button>Right</sl-button>
                            </sl-tooltip>
                          </sl-button-group>
                      </div>
                      <div class="codePart">
                        <sl-details summary="codeView">
                          <pre><code class="language-markup">
  &lt;sl-button-group label=&quot;Alignment&quot;&gt;
    &lt;sl-tooltip content=&quot;I'm on the left&quot;&gt;
      &lt;sl-button&gt;Left&lt;/sl-button&gt;
    &lt;/sl-tooltip&gt;
  
    &lt;sl-tooltip content=&quot;I'm in the middle&quot;&gt;
      &lt;sl-button&gt;Center&lt;/sl-button&gt;
    &lt;/sl-tooltip&gt;
  
    &lt;sl-tooltip content=&quot;I'm on the right&quot;&gt;
      &lt;sl-button&gt;Right&lt;/sl-button&gt;
    &lt;/sl-tooltip&gt;
  &lt;/sl-button-group&gt;
                          </code></pre>
                          </sl-details>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/darkmode.js"></script>
    </body>
</html>
