<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KJS shoelace 컴포넌트</title>

        <!-- shoelace -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
        />
        <script
            type="module"
            src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"
        ></script>

        <!-- shoelace Light & Dark Theme -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css"
        />

        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/component.css" />

        <!-- CodeViewer -->
        <!-- Prism CSS (예쁘게 보이게 하기 위해) -->
        <link
            href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.css"
            rel="stylesheet"
        />

        <!-- Prism.js -->
        <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-markup.min.js"></script>
    </head>
    <body class="outer">
        <div class="inner">
            <!-- 헤더 -->
            <div class="header">
                <a class="logoButton" href="/index.html">
                    <img src="/assets/logo.svg" alt="" />
                </a>
                <div class="navWrap">
                    <ul class="navTitle">
                        <li class="navLi">
                            <h4>버튼</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/button/button.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Default Button
                                    </sl-button>

                                    <sl-button
                                        href="/components/button/buttonGroup.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Group Button
                                    </sl-button>

                                    <sl-button
                                        href="/components/button/switch.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Switch
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>
                        <li class="navLi">
                            <h4>셀렉트 & 인풋</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/select/select.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Select
                                    </sl-button>

                                    <sl-button
                                        href="/components/select/input.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Input
                                    </sl-button>

                                    <sl-button
                                        href="/components/select/textarea.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Textarea
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>

                        <li class="navLi">
                            <h4>체크박스 & 라디오</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/checkbox/checkbox.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        CheckBox
                                    </sl-button>

                                    <sl-button
                                        href="/components/checkbox/radio.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Radio
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>

                        <li class="navLi">
                            <h4>모달 ~ 아코디언</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/modal/modal.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        모달
                                    </sl-button>
                                    <sl-button
                                        href="/components/modal/drawer.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Drawer
                                    </sl-button>
                                    <sl-button
                                        href="/components/modal/alert.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Alert
                                    </sl-button>
                                    <sl-button
                                        href="/components/modal/tooltip.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Tooltip
                                    </sl-button>

                                    <sl-button
                                        href="/components/modal/details.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        아코디언
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>

                        <li class="navLi">
                            <h4>Menu & Tab</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/menu/menu.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Menu
                                    </sl-button>
                                    <sl-button
                                        href="/components/menu/tab.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Tab
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>

                        <li class="navLi">
                            <h4>UI - UX</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/uiux/uxInput.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        UX-Input
                                    </sl-button>
                                    <sl-button
                                        href="/components/uiux/breadcrumb.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Breadcrumb
                                    </sl-button>
                                    <sl-button
                                        href="/components/uiux/badge.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Badge & Tag
                                    </sl-button>
                                    <sl-button
                                        href="/components/uiux/dropdown.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Dropdown
                                    </sl-button>
                                    <sl-button
                                        href="/components/uiux/icon.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Icon
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>
                        <li class="navLi">
                            <h4>애니메이션</h4>
                            <div class="navMenu">
                                <sl-menu
                                    style="
                                        display: flex;
                                        flex-direction: column;
                                    "
                                >
                                    <sl-button
                                        href="/components/animation/animation.html"
                                        size="large"
                                        class="navButton"
                                    >
                                        Animation
                                    </sl-button>
                                </sl-menu>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mode">
                    <sl-icon-button
                        name="github"
                        href="https://github.com/shoelace-style/shoelace"
                        target="_blank"
                        class="linkIconButton"
                    ></sl-icon-button>

                    <sl-icon-button
                        name="book"
                        href="https://shoelace.style/"
                        target="_blank"
                        class="linkIconButton"
                    ></sl-icon-button>

                    <sl-switch id="darkModeSwitch">Dark Mode</sl-switch>
                </div>
            </div>

            <div class="section">
                <h3 class="componentTitle">Switch</h3>
                <div class="componentWrap">
                    <div>
                        <div class="viewPart">
                            <h5>기초적인 Switch</h5>
                            <sl-switch>Switch</sl-switch>
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
                            &lt;sl-switch&gt;Switch&lt;/sl-switch&gt;
                            </code></pre>
                        </div>
                    </div>

                    <div>
                        <div class="viewPart">
                            <h5>checked 되어있는 Switch - checked 속성사용</h5>
                            <sl-switch checked>Checked</sl-switch>
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
                            &lt;sl-switch checked&gt;Checked&lt;/sl-switch&gt;
                            </code></pre>
                        </div>
                    </div>

                    <div>
                        <div class="viewPart">
                            <h5>Disabled Switch - disabled 속성사용</h5>
                            <sl-switch disabled>Disabled</sl-switch>
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
                            &lt;sl-switch disabled&gt;Disabled&lt;/sl-switch&gt;
                            </code></pre>
                        </div>
                    </div>

                    <div>
                        <div class="viewPart">
                            <h5>Switch 사이즈 - size 속성사용</h5>
                            <div
                                style="
                                    display: flex;
                                    flex-direction: column;
                                    gap: 0.5rem;
                                "
                            >
                                <sl-switch size="small">Small</sl-switch>
                                <sl-switch size="medium">Medium</sl-switch>
                                <sl-switch size="large">Large</sl-switch>
                            </div>
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
    &lt;sl-switch size=&quot;small&quot;&gt;Small&lt;/sl-switch&gt;
    &lt;sl-switch size=&quot;medium&quot;&gt;Medium&lt;/sl-switch&gt;
    &lt;sl-switch size=&quot;large&quot;&gt;Large&lt;/sl-switch&gt;
                            </code></pre>
                        </div>
                    </div>

                    <div>
                        <div class="viewPart">
                            <h5>하단 도움말 - help-text 속성 사용</h5>
                            <sl-switch
                                help-text="What should the user know about the switch?"
                                >Label</sl-switch
                            >
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
    &lt;sl-switch help-text=&quot;What should the user know about the switch?&quot;&gt;Label&lt;/sl-switch&gt;
                            </code></pre>
                        </div>
                    </div>

                    <div>
                        <div class="viewPart">
                            <h5>
                                Custom Size - style 에서 --width, --height,
                                --thumb-size 스타일 사용
                            </h5>
                            <sl-switch
                                style="
                                    --width: 80px;
                                    --height: 40px;
                                    --thumb-size: 36px;
                                "
                                >Really big</sl-switch
                            >
                        </div>
                        <div class="codePart">
                            <pre><code class="language-markup">
    &lt;sl-switch style=&quot;--width: 80px; --height: 40px; --thumb-size: 36px;&quot;&gt;Really big&lt;/sl-switch&gt;
                            </code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/darkmode.js"></script>
    </body>
</html>
