<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- shoelace -->
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
    />
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"
    ></script>

    <!-- shoelace Light & Dark Theme -->
    <link
        rel="stylesheet"
        media="(prefers-color-scheme:light)"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
    />
    <link
        rel="stylesheet"
        media="(prefers-color-scheme:dark)"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css"
    />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/component.css">
</head>
<body class="outer">
    <div class="inner">
        <div class="section">
            <h3 class="componentTitle">Badge</h3>
            <div class="componentWrap">
                <div>
                    <h5>기초적인 Badge</h5>
                    <sl-badge>Badge</sl-badge>
                </div>

                <div>
                    <h5>여러 Color, 용도의 Badge</h5>
                    <sl-badge variant="primary">Primary</sl-badge>
                    <sl-badge variant="success">Success</sl-badge>
                    <sl-badge variant="neutral">Neutral</sl-badge>
                    <sl-badge variant="warning">Warning</sl-badge>
                    <sl-badge variant="danger">Danger</sl-badge>
                </div>

                <div>
                    <h5>둥그런 Badge - pill 속성 사용</h5>
                    <sl-badge variant="primary" pill>Primary</sl-badge>
                    <sl-badge variant="success" pill>Success</sl-badge>
                    <sl-badge variant="neutral" pill>Neutral</sl-badge>
                    <sl-badge variant="warning" pill>Warning</sl-badge>
                    <sl-badge variant="danger" pill>Danger</sl-badge>
                </div>

                <div>
                    <h5>물결있는 Badge - pulse 속성 사용</h5>
                    <div style="display: flex; gap: 1.5rem;">
                        <sl-badge variant="primary" pill pulse>1</sl-badge>
                        <sl-badge variant="success" pill pulse>10</sl-badge>
                        <sl-badge variant="neutral" pill pulse>100</sl-badge>
                        <sl-badge variant="warning" pill pulse>알림</sl-badge>
                        <sl-badge variant="danger" pill pulse>경고</sl-badge>
                    </div>
                </div>

                <div>
                    <h5>버튼과 같이 사용하는 Badge</h5>
                    <div style="display: flex; gap: 1.5rem;">
                        <sl-button>
                            Requests
                            <sl-badge pill>30</sl-badge>
                          </sl-button>
                          
                          <sl-button style="margin-inline-start: 1rem;">
                            Warnings
                            <sl-badge variant="warning" pill>8</sl-badge>
                          </sl-button>
                          
                          <sl-button style="margin-inline-start: 1rem;">
                            Errors
                            <sl-badge variant="danger" pill pulse>6</sl-badge>
                          </sl-button>
                    </div>
                </div>

                <div>
                    <h5>Menu와 같이 사용하는 Badge</h5>
                    <sl-menu style="max-width: 240px;">
                        <sl-menu-label style="border-bottom: 1px solid var(--sl-panel-border-color);">
                            Messages
                        </sl-menu-label>
                        <sl-menu-item>
                            Comments 
                            <sl-badge slot="suffix" variant="primary" pill>4</sl-badge>
                        </sl-menu-item>
                        <sl-menu-item>
                            Replies 
                            <sl-badge slot="suffix" variant="primary" pill>12</sl-badge>
                        </sl-menu-item>
                    </sl-menu>
                </div>
            </div>
        </div>

        <div class="section">
            <h3 class="componentTitle">Tag</h3>
            <div class="componentWrap">
                <div>
                    <h5>기초적인 Tag</h5>

                    <div style="display: flex; gap: 1rem;">
                        <sl-tag variant="primary">Primary</sl-tag>
                        <sl-tag variant="success">Success</sl-tag>
                        <sl-tag variant="neutral">Neutral</sl-tag>
                        <sl-tag variant="warning">Warning</sl-tag>
                        <sl-tag variant="danger">Danger</sl-tag>
                    </div>
                </div>

                <div>
                    <h5>Tag 사이즈 조절 size="" 속성사용 </h5>
                    <sl-tag size="small">Small</sl-tag>
                    <sl-tag size="medium">Medium</sl-tag>
                    <sl-tag size="large">Large</sl-tag>
                </div>

                <div>
                    <h5>Tag의 radius 조절 pill 속성사용 </h5>
                    <sl-tag size="small" pill>Small</sl-tag>
                    <sl-tag size="medium" pill>Medium</sl-tag>
                    <sl-tag size="large" pill>Large</sl-tag>
                </div>

                <div>
                    <h5>삭제 가능한 Tag를 만들기위해선 removable 속성과 JS 필요!</h5>

                    <div class="tags-removable" style="display: flex; gap: 1rem; align-items: center;">
                        <sl-tag size="small" removable>Small</sl-tag>
                        <sl-tag size="medium" removable>Medium</sl-tag>
                        <sl-tag size="large" removable>Large</sl-tag>
                    </div>
                      
                    <script>
                        const div = document.querySelector('.tags-removable');
                      
                        div.addEventListener('sl-remove', event => {
                          const tag = event.target;
                          tag.style.opacity = '0';
                          setTimeout(() => (tag.style.opacity = '1'), 2000);
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/darkmode.js"></script>
</body>
</html>