<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- shoelace -->
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
    />
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"
    ></script>

    <!-- shoelace Light & Dark Theme -->
    <link
        rel="stylesheet"
        media="(prefers-color-scheme:light)"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
    />
    <link
        rel="stylesheet"
        media="(prefers-color-scheme:dark)"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css"
    />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/component.css">

    <!-- CodeViewer -->
    <!-- Prism CSS (예쁘게 보이게 하기 위해) -->
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.css" rel="stylesheet" />

    <!-- Prism.js -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-markup.min.js"></script>
      
</head>
<body class="outer">
    <div class="inner">
      <!-- 헤더 -->
      <div class="header">
        <a class="logoButton" href="/index.html">
            <img src="/assets/logo.svg" alt="" />
        </a>
        <div class="navWrap">
            <ul class="navTitle">
                <li class="navLi">
                    <h4>버튼</h4>
                    <div class="navMenu">
                        <sl-menu style="display: flex;flex-direction: column;">
                               <sl-button 
                               href="/components/button/button.html"
                               size="large"
                               class="navButton"
                               >
                                Default Button
                               </sl-button>
                            
                               <sl-button 
                               href="/components/button/buttonGroup.html"
                               size="large"
                               class="navButton"
                               >
                                Group Button
                               </sl-button>

                               <sl-button 
                               href="/components/button/switch.html"
                               size="large"
                               class="navButton"
                               >
                                Switch
                               </sl-button>

                        </sl-menu>
                    </div>
                </li>
                <li class="navLi">
                    <h4>셀렉트 & 인풋</h4>
                    <div class="navMenu">
                        <sl-menu style="display: flex;flex-direction: column;">
                            <sl-button 
                            href="/components/select/select.html"
                            size="large"
                            class="navButton"
                            >
                             Select
                            </sl-button>

                            <sl-button 
                            href="/components/select/input.html"
                            size="large"
                            class="navButton"
                            >
                             Input
                            </sl-button>

                            <sl-button 
                            href="/components/select/textarea.html"
                            size="large"
                            class="navButton"
                            >
                             Textarea
                            </sl-button>
                     </sl-menu>
                    </div>
                </li>

                <li class="navLi">
                    <h4>체크박스 & 라디오</h4>
                    <div class="navMenu">
                        <sl-menu style="display: flex;flex-direction: column;">
                            <sl-button 
                            href="/components/checkbox/checkbox.html"
                            size="large"
                            class="navButton"
                            >
                             CheckBox
                            </sl-button>

                            <sl-button 
                            href="/components/checkbox/radio.html"
                            size="large"
                            class="navButton"
                            >
                             Radio
                            </sl-button>
                     </sl-menu>
                    </div>
                </li>

                <li class="navLi">
                    <h4>모달 ~ 아코디언</h4>
                    <div class="navMenu">
                        <sl-menu style="display: flex;flex-direction: column;">
                            <sl-button 
                            href="/components/modal/modal.html"
                            size="large"
                            class="navButton"
                            >
                                모달
                            </sl-button>
                            <sl-button
                            href="/components/modal/drawer.html"
                            size="large"
                            class="navButton"
                            >
                                Drawer
                            </sl-button>
                            <sl-button
                            href="/components/modal/alert.html"
                            size="large"
                            class="navButton"
                            >
                                Alert
                            </sl-button>
                            <sl-button
                            href="/components/modal/tooltip.html"
                            size="large"
                            class="navButton"
                            >
                                Tooltip
                            </sl-button>

                            <sl-button
                            href="/components/modal/details.html"
                            size="large"
                            class="navButton"
                            >
                                아코디언
                            </sl-button>
                        </sl-menu>
                    </div>
                </li>

                <li class="navLi">
                    <h4>Menu & Tab</h4>
                    <div class="navMenu">
                        <sl-menu style="display: flex;flex-direction: column;">
                            <sl-button
                            href="/components/menu/menu.html"
                            size="large"
                            class="navButton"
                            >
                             Menu
                            </sl-button>
                            <sl-button
                            href="/components/menu/tab.html"
                            size="large"
                            class="navButton"
                            >
                             Tab
                            </sl-button>
                        </sl-menu>
                    </div>
                </li>

                <li class="navLi">
                    <h4>UI - UX</h4>
                    <div class="navMenu">
                        <sl-menu style="display: flex;flex-direction: column;">

                            <sl-button
                            href="/components/uiux/uxInput.html"
                            size="large"
                            class="navButton"
                            >
                             UX-Input
                            </sl-button>
                            <sl-button
                            href="/components/uiux/breadcrumb.html"
                            size="large"
                            class="navButton"
                            >
                             Breadcrumb
                            </sl-button>
                            <sl-button
                            href="/components/uiux/badge.html"
                            size="large"
                            class="navButton"
                            >
                             Badge & Tag
                            </sl-button>
                            <sl-button
                            href="/components/uiux/dropdown.html"
                            size="large"
                            class="navButton"
                            >
                             Dropdown
                            </sl-button>
                            <sl-button
                            href="/components/uiux/icon.html"
                            size="large"
                            class="navButton"
                            >
                             Icon
                            </sl-button>

                        </sl-menu>
                    </div>
                </li>
                <li class="navLi">
                    <h4>애니메이션</h4>
                    <div class="navMenu">
                        <sl-menu style="display: flex;flex-direction: column;">

                            <sl-button
                            href="/components/animation/animation.html"
                            size="large"
                            class="navButton"
                            >
                             Animation
                            </sl-button>
                        </sl-menu>
                    </div>
                </li>
            </ul>

        </div>
        <div class="mode">
            <sl-icon-button 
            name="github" 
            href="https://github.com/shoelace-style/shoelace" 
            target="_blank"
            class="linkIconButton"
            ></sl-icon-button>

            <sl-icon-button 
            name="book" 
            href="https://shoelace.style/" 
            target="_blank"
            class="linkIconButton"
            ></sl-icon-button>
            
            <sl-switch id="darkModeSwitch">Dark Mode</sl-switch>
        </div>
    </div>
      
        <div class="section">
            <h3 class="componentTitle">Dropdown</h3>
            <div class="componentWrap">
                <div>
                  <div class="viewPart">
                    <h5>기초적인 Dropdown</h5>
                    
                    <div style="display: flex; gap: 0.5rem; margin-bottom: 1rem;">
                        <p>선택된 item의 Value(e.detail.item.value) : </p>
                        <p id="drop-down-value"></p>
                    </div>

                    <sl-dropdown id="default-dropdown">
                        <sl-button slot="trigger" caret>Edit</sl-button>
                        <sl-menu>
                            <sl-menu-item value="cut">Cut</sl-menu-item>
                            <sl-menu-item value="copy">Copy</sl-menu-item>
                            <sl-menu-item value="paste">Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>


                    
                    <script>
                    const defaultDropdown = document.getElementById('default-dropdown');
                    const dropDownValue = document.getElementById('drop-down-value')
                    
                    defaultDropdown.addEventListener('sl-select', e => {
                        dropDownValue.innerText = e.detail.item.value
                    });
                    </script>
                  </div>
                  <div class="codePart">
                    <sl-details summary="Code View">
                      <pre><code class="language-markup">
  &lt;div style=&quot;display: flex; gap: 0.5rem; margin-bottom: 1rem;&quot;&gt;
      &lt;p&gt;선택된 item의 Value(e.detail.item.value) : &lt;/p&gt;
      &lt;p id=&quot;drop-down-value&quot;&gt;&lt;/p&gt;
  &lt;/div&gt;

  &lt;sl-dropdown id=&quot;default-dropdown&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;Edit&lt;/sl-button&gt;
      &lt;sl-menu&gt;
          &lt;sl-menu-item value=&quot;cut&quot;&gt;Cut&lt;/sl-menu-item&gt;
          &lt;sl-menu-item value=&quot;copy&quot;&gt;Copy&lt;/sl-menu-item&gt;
          &lt;sl-menu-item value=&quot;paste&quot;&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;


  
  &lt;script&gt;
  const defaultDropdown = document.getElementById('default-dropdown');
  const dropDownValue = document.getElementById('drop-down-value')
  
  defaultDropdown.addEventListener('sl-select', e =&gt; {
      dropDownValue.innerText = e.detail.item.value
  });
  &lt;/script&gt;
                      </code></pre>
                    </sl-details>
                  </div>
                    
                </div>

                <div>
                  <div class="viewPart">
                    <h5>펼쳐지는 위치를 지정하는 Dropdown</h5>

                    <p style="margin: 1rem 0px;">규칙 placement = "상하좌우 중 택 1 - 시작 끝 중 택 1"</p>
                    
                    <sl-dropdown placement="top">
                        <sl-button slot="trigger" caret>top</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <sl-dropdown placement="top-start">
                        <sl-button slot="trigger" caret>top-start</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <sl-dropdown placement="top-end">
                        <sl-button slot="trigger" caret>top-start</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>
                    
                    <br/><br/>

                    <sl-dropdown placement="bottom">
                        <sl-button slot="trigger" caret>bottom</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <sl-dropdown placement="bottom-start">
                        <sl-button slot="trigger" caret>bottom-start</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <sl-dropdown placement="bottom-end">
                        <sl-button slot="trigger" caret>bottom-start</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <br/><br/>

                    <sl-dropdown placement="right">
                        <sl-button slot="trigger" caret>right</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <sl-dropdown placement="right-start">
                        <sl-button slot="trigger" caret>right-start</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <sl-dropdown placement="right-end">
                        <sl-button slot="trigger" caret>right-start</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <br/><br/>

                    <sl-dropdown placement="left">
                        <sl-button slot="trigger" caret>left</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <sl-dropdown placement="left-start">
                        <sl-button slot="trigger" caret>left-start</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>

                    <sl-dropdown placement="left-end">
                        <sl-button slot="trigger" caret>left-start</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>
                  </div>
                  <div class="codePart">
                    <sl-details summary="Code View">
                      <pre><code class="language-markup">
  &lt;sl-dropdown placement=&quot;top&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;top&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;sl-dropdown placement=&quot;top-start&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;top-start&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;sl-dropdown placement=&quot;top-end&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;top-start&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;
  
  &lt;br/&gt;&lt;br/&gt;

  &lt;sl-dropdown placement=&quot;bottom&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;bottom&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;sl-dropdown placement=&quot;bottom-start&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;bottom-start&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;sl-dropdown placement=&quot;bottom-end&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;bottom-start&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;br/&gt;&lt;br/&gt;

  &lt;sl-dropdown placement=&quot;right&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;right&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;sl-dropdown placement=&quot;right-start&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;right-start&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;sl-dropdown placement=&quot;right-end&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;right-start&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;br/&gt;&lt;br/&gt;

  &lt;sl-dropdown placement=&quot;left&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;left&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;sl-dropdown placement=&quot;left-start&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;left-start&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;

  &lt;sl-dropdown placement=&quot;left-end&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;left-start&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;
                      </code></pre>
                    </sl-details>
                  </div>
                  
                    
                </div>

                <div>
                  <div class="viewPart">
                    <h5>임의의 거리 Distance 설정</h5>

                    <sl-dropdown distance="30">
                        <sl-button slot="trigger" caret>Edit</sl-button>
                        <sl-menu>
                          <sl-menu-item>Cut</sl-menu-item>
                          <sl-menu-item>Copy</sl-menu-item>
                          <sl-menu-item>Paste</sl-menu-item>
                          <sl-divider></sl-divider>
                          <sl-menu-item>Find</sl-menu-item>
                          <sl-menu-item>Replace</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>
                  </div>
                  <div class="codePart">
                    <pre><code class="language-markup">
  &lt;sl-dropdown distance=&quot;30&quot;&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;Edit&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Cut&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Copy&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Paste&lt;/sl-menu-item&gt;
        &lt;sl-divider&gt;&lt;/sl-divider&gt;
        &lt;sl-menu-item&gt;Find&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Replace&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;
                    </code></pre>
                  </div>
                    
                </div>

                <div>
                  <div class="viewPart">
                    <h5> subMenu를 포함한 Dropdown</h5>
                    <sl-dropdown>
                        <sl-button slot="trigger" caret>Edit</sl-button>
                      
                        <sl-menu style="max-width: 200px;">
                          <sl-menu-item value="cut">Cut</sl-menu-item>
                          <sl-menu-item value="copy">Copy</sl-menu-item>
                          <sl-menu-item value="paste">Paste</sl-menu-item>
                          <sl-divider></sl-divider>
                          <sl-menu-item>
                            Find
                            <sl-menu slot="submenu">
                              <sl-menu-item value="find-previous">Find Next</sl-menu-item>
                              <sl-menu-item value="find-next">Find Previous</sl-menu-item>
                            </sl-menu>
                          </sl-menu-item>
                          <sl-menu-item>
                            Transformations
                            <sl-menu slot="submenu">
                              <sl-menu-item value="uppercase">Make uppercase</sl-menu-item>
                              <sl-menu-item value="lowercase">Make lowercase</sl-menu-item>
                              <sl-menu-item value="capitalize">Capitalize</sl-menu-item>
                            </sl-menu>
                          </sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>
                  </div>
                  <div class="codePart">
                    <sl-details summary="Code View">
                      <pre><code class="language-markup">
  &lt;sl-dropdown&gt;
    &lt;sl-button slot=&quot;trigger&quot; caret&gt;Edit&lt;/sl-button&gt;
  
    &lt;sl-menu style=&quot;max-width: 200px;&quot;&gt;
      &lt;sl-menu-item value=&quot;cut&quot;&gt;Cut&lt;/sl-menu-item&gt;
      &lt;sl-menu-item value=&quot;copy&quot;&gt;Copy&lt;/sl-menu-item&gt;
      &lt;sl-menu-item value=&quot;paste&quot;&gt;Paste&lt;/sl-menu-item&gt;
      &lt;sl-divider&gt;&lt;/sl-divider&gt;
      &lt;sl-menu-item&gt;
        Find
        &lt;sl-menu slot=&quot;submenu&quot;&gt;
          &lt;sl-menu-item value=&quot;find-previous&quot;&gt;Find Next&lt;/sl-menu-item&gt;
          &lt;sl-menu-item value=&quot;find-next&quot;&gt;Find Previous&lt;/sl-menu-item&gt;
        &lt;/sl-menu&gt;
      &lt;/sl-menu-item&gt;
      &lt;sl-menu-item&gt;
        Transformations
        &lt;sl-menu slot=&quot;submenu&quot;&gt;
          &lt;sl-menu-item value=&quot;uppercase&quot;&gt;Make uppercase&lt;/sl-menu-item&gt;
          &lt;sl-menu-item value=&quot;lowercase&quot;&gt;Make lowercase&lt;/sl-menu-item&gt;
          &lt;sl-menu-item value=&quot;capitalize&quot;&gt;Capitalize&lt;/sl-menu-item&gt;
        &lt;/sl-menu&gt;
      &lt;/sl-menu-item&gt;
    &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;
                      </code></pre>
                    </sl-details>
                  </div>
                  
                    
                </div>

                <div>
                  <div class="viewPart">
                    <h5>Prefix , Suffix 아이콘을 포함하는 Dropdown</h5>

                    <sl-dropdown>
                        <sl-button slot="trigger" caret>Dropdown</sl-button>
                        <sl-menu>
                          
                          <sl-menu-item>
                            Prefix
                            <sl-icon slot="prefix" name="gift" style="margin-right: 1rem;"></sl-icon>
                          </sl-menu-item>
                          <sl-menu-item>
                            Suffix Icon
                            <sl-icon slot="suffix" name="heart" style="margin-left: 1rem;"></sl-icon>
                          </sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>
                  </div>
                  <div class="codePart">
                    <pre><code class="language-markup">
  &lt;sl-dropdown&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;Dropdown&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        
        &lt;sl-menu-item&gt;
          Prefix
          &lt;sl-icon slot=&quot;prefix&quot; name=&quot;gift&quot; style=&quot;margin-right: 1rem;&quot;&gt;&lt;/sl-icon&gt;
        &lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;
          Suffix Icon
          &lt;sl-icon slot=&quot;suffix&quot; name=&quot;heart&quot; style=&quot;margin-left: 1rem;&quot;&gt;&lt;/sl-icon&gt;
        &lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;    
                    </code></pre>
                  </div>
                    
                </div>

                <div>
                  <div class="viewPart">
                    <h5>checked , disabled 상태를 가지는 Dropdown</h5>

                    <sl-dropdown>
                        <sl-button slot="trigger" caret>Dropdown</sl-button>
                        <sl-menu>
                          <sl-menu-item>Dropdown Item 1</sl-menu-item>
                          <sl-menu-item>Dropdown Item 2</sl-menu-item>
                          <sl-menu-item>Dropdown Item 3</sl-menu-item>
                          <sl-divider></sl-divider>
                          <sl-menu-item type="checkbox" checked>Checkbox</sl-menu-item>
                          <sl-menu-item disabled>Disabled</sl-menu-item>
                        </sl-menu>
                    </sl-dropdown>
                  </div>
                  <div class="codePart">
                    <pre><code class="language-markup">
  &lt;sl-dropdown&gt;
      &lt;sl-button slot=&quot;trigger&quot; caret&gt;Dropdown&lt;/sl-button&gt;
      &lt;sl-menu&gt;
        &lt;sl-menu-item&gt;Dropdown Item 1&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Dropdown Item 2&lt;/sl-menu-item&gt;
        &lt;sl-menu-item&gt;Dropdown Item 3&lt;/sl-menu-item&gt;
        &lt;sl-divider&gt;&lt;/sl-divider&gt;
        &lt;sl-menu-item type=&quot;checkbox&quot; checked&gt;Checkbox&lt;/sl-menu-item&gt;
        &lt;sl-menu-item disabled&gt;Disabled&lt;/sl-menu-item&gt;
      &lt;/sl-menu&gt;
  &lt;/sl-dropdown&gt;     
                    </code></pre>
                  </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <script src="/js/darkmode.js"></script>
</body>
</html>