<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- shoelace -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
    />
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"
    ></script>

    <!-- shoelace Light & Dark Theme -->
    <link
        rel="stylesheet"
        media="(prefers-color-scheme:light)"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
    />
    <link
        rel="stylesheet"
        media="(prefers-color-scheme:dark)"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css"
    />

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />

    <!-- component css -->
    <link rel="stylesheet" href="/css/component.css">
</head>
<body class="outer">
    <div class="inner">
        <div class="section">
            <h3 class="componentTitle">UX - input</h3>
            <div class="componentWrap">
                <div>
                    <h5>Range - Input</h5>
                    <br/>
                    <p style="padding-left: 1rem;">
                        label : 상단 텍스트 <br/>
                        help-text : 하단 텍스트 <br/>
                        min : 최솟값 <br/>
                        max : 최댓값 <br/>
                        step : 단위 <br/>
                    </p>
                    <br/>
                    <sl-range
                    label="label : 상단 텍스트"
                    help-text="help-text : 하단 텍스트"
                    min="0"
                    max="100"
                    step="1"
                    style="
                      --track-color-active: var(--sl-color-primary-500);
                      --track-color-inactive: var(--sl-color-primary-200);
                    "
                    ></sl-range>
                </div>

                <div>
                    <h5>좌우 Range</h5>
                    <br/>
                    <p style="padding-left: 1rem;">
                        min : 최솟값 +꼭지점 <br/>
                        max : 최댓값 -꼭지점 <br/>
                        --track-active-offset: 50% 추가 필요 <br/>
                    </p>
                    <br/>
                    <sl-range
                    label="속성 Test Range"
                    help-text="1단위 씩 증가합니다."
                    min="-100"
                    max="100"
                    step="1"
                    style="
                      --track-color-active: var(--sl-color-primary-500);
                      --track-color-inactive: var(--sl-color-primary-200);
                      --track-active-offset: 50%;
                    "
                    ></sl-range>
                </div>

                <div>
                    <h5>Range - 커스텀 ToolTip</h5>
                    <sl-range 
                    id="range-with-custom-formatter"
                    min="0" 
                    max="100" 
                    step="1" 
                    style="
                      --track-color-active: var(--sl-color-primary-500);
                      --track-color-inactive: var(--sl-color-primary-200);
                    "
                    ></sl-range>

                    <script>
                    const range = document.getElementById('range-with-custom-formatter');
                    range.tooltipFormatter = value => `Total - ${value}%`;
                    </script>
                </div>
            </div>

            <sl-divider style="margin: 1rem 0px;"></sl-divider>

            <h3 class="componentTitle">단위별 자동 변환</h3>
            <div class="componentWrap">
                <div>
                    <h5>숫자 쉼표 - 천단위로 , 찍기</h5>
                    <div id="format-number-overview">
                        <sl-format-number value="1000"></sl-format-number>
                        <br /><br />
                        <sl-input type="number" value="1000" label="Number to Format" style="max-width: 180px;"></sl-input>
                      </div>
                      
                      <script>
                        const container = document.getElementById('format-number-overview');
                        const formatter = container.querySelector('sl-format-number');
                        const input = container.querySelector('sl-input');
                      
                        input.addEventListener('sl-input', () => (formatter.value = input.value || 0));
                      </script>
                </div>
                
                <div>
                    <h5>소숫점 to 퍼센트%</h5>
                    <br/>
                    <div>0.0 -> <sl-format-number type="percent" value="0"></sl-format-number></div>
                    <br />
                    <div>0.25 -> <sl-format-number type="percent" value="0.25"></sl-format-number></div>
                    <br />
                    <div>0.50 -> <sl-format-number type="percent" value="0.50"></sl-format-number></div>
                    <br />
                    <div>0.75 -> <sl-format-number type="percent" value="0.75"></sl-format-number></div>
                    <br />
                    <div>1 -> <sl-format-number type="percent" value="1"></sl-format-number></div>
                </div>

                <div>
                    <h5>파일크기(byte ,KB , MB, GB) 자동화</h5>
                    <div class="format-bytes-overview">
                        소숫점 2자리 까지만 반올림하여 계산해줌
                        <br />
                        <br />

                        계산된 크기 : 
                        <sl-format-bytes value="1000"></sl-format-bytes> 
                        
                        <br />
                        <br />

                        <sl-input type="number" value="1000" label="Number to Format" style="max-width: 180px;"></sl-input>
                      </div>
                      
                      <script>
                        const container2 = document.querySelector('.format-bytes-overview');
                        const formatter2 = container2.querySelector('sl-format-bytes');
                        const input2 = container2.querySelector('sl-input');
                      
                        input2.addEventListener('sl-input', () => (formatter2.value = input2.value || 0));
                      </script>
                </div>

                <div></div>

                

                <div></div>
            </div>

            <sl-divider></sl-divider>

            <h3 class="componentTitle">날자-시간 자동 변환</h3>
            <div class="componentWrap">
                <div>
                    <h5>날자 표현</h5>

                    <p style="display: inline-block; font-weight: 400;">
                        특정 날자 : date="2020-07-15T09:17:00-04:00"  => 
                    </p>    
                    <sl-format-date date="2020-07-15T09:17:00-04:00" style="font-size: var(--p-size);"></sl-format-date>

                    <br/>
                    <br/>
                    
                    <h5>현재 날자/시간 표현</h5> 

                    <p style="display: inline-block;width: 80px; font-weight: 400;">
                        기본 표현 : 
                    </p>
                    <sl-format-date></sl-format-date>
                    <br/>
                    
                    <p style="display: inline-block;width: 80px; font-weight: 400;">
                        월 일 년 : 
                    </p>
                    <sl-format-date month="long" day="numeric" year="numeric"></sl-format-date>
                    <br />

                    <p style="display: inline-block;width: 80px; font-weight: 400;">
                        시간 :  
                    </p>
                    <sl-format-date hour="numeric" minute="numeric"></sl-format-date>
                    <br />

                    <p style="display: inline-block;width: 80px; font-weight: 400;">
                        요일 : 
                    </p>
                    <sl-format-date weekday="long"></sl-format-date>
                    <br />

                    <p style="display: inline-block;width: 80px; font-weight: 400;">
                        달 : 
                    </p>
                    <sl-format-date month="long"></sl-format-date>
                    <br />

                    <p style="display: inline-block;width: 80px; font-weight: 400;">
                        년도 : 
                    </p>
                    <sl-format-date year="numeric"></sl-format-date><br />
                </div>

                <div>
                    <h5>날자 표현 형식</h5>
                    <br/>

                    <p style="display: inline-block;width: 80px; font-weight: 400;">
                        한국식 :  
                    </p>
                    <sl-format-date lang="ko"></sl-format-date>
                    <br/>
                    <br/>

                    <p style="display: inline-block;width: 80px; font-weight: 400;">
                        미국식 :  
                    </p>
                    <sl-format-date lang="en"></sl-format-date>
                    <br/>
                    <br/>

                    <p style="display: inline-block;width: 80px; font-weight: 400;">
                        프랑스식 :  
                    </p>
                    <sl-format-date lang="fr"></sl-format-date><br />
                    <br/>
                    <br/>

                </div>

                <div>
                    <h5>시간 표현 12시간 / 24시간</h5>

                    <p style="display: inline-block;width: 130px; font-weight: 400;">
                        오후 2시 30분 :  
                    </p>
                    <sl-format-date hour="numeric" minute="numeric" hour-format="12" date="2025-04-18T14:30:00"></sl-format-date>
                     <- AM/PM   ||   24시간 ->
                    <sl-format-date hour="numeric" minute="numeric" hour-format="24" date="2025-04-18T14:30:00"></sl-format-date>
                    <br/>
                    <br/>

                    <p style="display: inline-block;width: 130px; font-weight: 400;">
                        현재 시간 :  
                    </p>

                    <sl-format-date hour="numeric" minute="numeric" hour-format="12"></sl-format-date>
                     <- AM/PM   ||   24시간 ->
                    <sl-format-date hour="numeric" minute="numeric" hour-format="24"></sl-format-date>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/darkmode.js"></script>
</body>
</html>